# Created by .ignore support plugin (hsz.mobi)
.idea/*
.idea/dbnavigator.xml
.idea/geodatahuasi.github.io.iml
.idea/markdown-navigator/
.idea/modules.xml
.idea/workspace.xml
img/Portada geodatahuasi.jpg
img/amplio.png
img/amplio01.png
img/amplio02.png
img/amplio03.png
img/amplio04.png
img/amplio05.png
img/amplio06.png
img/quehacemos.png
img/quehacemos01.png
img/servicios02.png
img/servicios04.png
